* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Schedule layout
 */
.schedule section.day,
.schedule section.slot {
  clear: both;
}
@media (min-width: 51.25em) {
  .schedule h3.time {
    width: 17.02128%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
  .schedule [data-room="room-1"] {
    width: 25.53191%;
    float: left;
    margin-right: -100%;
    margin-left: 19.14894%;
    clear: none;
  }
  .schedule [data-room="room-2"] {
    width: 25.53191%;
    float: left;
    margin-right: -100%;
    margin-left: 46.80851%;
    clear: none;
  }
  .schedule [data-room="room-3"] {
    width: 25.53191%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  .schedule .session .meta .room {
    display: none;
  }
  .schedule .full {
    width: 80.85106%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
